<div class="container mt-5">
  <h1>Restaurants</h1>

  <ul id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
        <%= link_to restaurant_path(restaurant.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{restaurant.name}?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <hr>

  <%= link_to new_restaurant_path, class: 'btn btn-light btn-sm border' do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Add a new restaurant
  <% end %>

</div>
